@import url(./menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuraciones generales */

body::-webkit-scrollbar{
    width: 0.9rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #3269a8;
}
.footer{
    display: flow-root;
    background-color: #333333;
    padding: 10px 0 0 0;
    color: white;
    text-align: center;
}
.page-body{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 7rem;
}
.page-body-title{
    color: #579C5E;
    margin-bottom: 2rem;
}
.page-body-info-page{
    color: #579C5E;
    font-size: 25px;
}

.page-body-img-div{
    margin-top: 5rem;
}

.page-body-img-div img{
    height: 600px;
    border: #38633C solid;
}

/* Configuraciones de imagenes*/
.img-center{
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}
.img-center figcaption{
    margin-top: -8px;
}

/* Configuraciones de colores de fondo */
.bg-black{
    background-color: #7BDB84;
}
.bg-blue{
    background-color: blue;
}
.bg-body{
    background-color: white;;
}
.bg-semitransparent{
    background-color: rgba(0, 0, 0, 0.3);
}

/* Configuraciones de fuentes */
.bold{
    font-weight: bold;
}
.font-normal{
    font-weight: normal;
}
.font-size-12{
    font-size: 12px;
}
.text-center{
    text-align: center;
}
.underline{
    text-decoration: underline;
}

/* Configuraciones de colores de fuente */
.text-black{
    color: #000000;
}
.text-blue{
    color: blue;
}
.text-transparent{
    color: rgb(19, 18, 18);
}

/* Configuraciones de margenes */
.no-margin-center{
    margin: 0 auto;
}

section {
    width: 1000px;
    background: white;
    opacity: 0.8;
    height: auto;
    float: auto;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    background-color: #579C5E;
    
}

ul {
    align-items: center;
}

