@import url(./menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuraciones generales */

body::-webkit-scrollbar{
    width: 0.9rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #3269a8;
}
.footer{
    display: flow-root;
    background-color: #333333;
    padding: 10px 0 0 0;
    color: white;
    text-align: center;
}

/* Configuraciones de imagenes*/
.img-center{
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}
.img-center figcaption{
    margin-top: -8px;
}

/* Configuraciones de colores de fondo */
.bg-black{
    background-color: #111111;
}
.bg-blue{
    background-color: blue;
}
.bg-body{
    background-color: #ced3ff;;
}
.bg-semitransparent{
    background-color: rgba(0, 0, 0, 0.3);
}

/* Configuraciones de fuentes */
.bold{
    font-weight: bold;
}
.font-normal{
    font-weight: normal;
}
.font-size-12{
    font-size: 12px;
}
.text-center{
    text-align: center;
}
.underline{
    text-decoration: underline;
}

/* Configuraciones de colores de fuente */
.text-black{
    color: #000000;
}
.text-blue{
    color: blue;
}
.text-transparent{
    color: transparent;
}

/* Configuraciones de margenes */
.no-margin-center{
    margin: 0 auto;
}

section {
    width: 1000px;
    background: white;
    opacity: 0.8;
    height: auto;
    float: auto;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    background-color: gray;
    
}

ul {
    align-items: center;
}

.form_name{
	width:200px; 
	float:left; 
	padding-left:100px;
	text-align:left;	
}

#form_nuevo_usuario{
	text-align:center; 
	width:800px; 
	padding-top:50px; 
	padding-left:200px;
}