/* Configuraciones generales */

header a:hover{
    text-decoration: none;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1em;

}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:#579C5E;
}
.logo{
    transition: transform 1s ease-in-out 0.2s;
}
.logo:hover{
    transform: scale(1.2);
    box-shadow: none;
}

@media (max-width: 761px) {
    .logo:hover{
        transform: none;
    }
}